:root {
  --md-source: #1C3041;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001d32;
  --md-ref-palette-primary20: #003351;
  --md-ref-palette-primary25: #003f62;
  --md-ref-palette-primary30: #004b74;
  --md-ref-palette-primary35: #005786;
  --md-ref-palette-primary40: #006398;
  --md-ref-palette-primary50: #1b7dba;
  --md-ref-palette-primary60: #4297d6;
  --md-ref-palette-primary70: #61b2f2;
  --md-ref-palette-primary80: #93ccff;
  --md-ref-palette-primary90: #cde5ff;
  --md-ref-palette-primary95: #e7f2ff;
  --md-ref-palette-primary98: #f7f9ff;
  --md-ref-palette-primary99: #fcfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #0d1d2a;
  --md-ref-palette-secondary20: #23323f;
  --md-ref-palette-secondary25: #2e3d4b;
  --md-ref-palette-secondary30: #394857;
  --md-ref-palette-secondary35: #455463;
  --md-ref-palette-secondary40: #51606f;
  --md-ref-palette-secondary50: #697988;
  --md-ref-palette-secondary60: #8392a3;
  --md-ref-palette-secondary70: #9dadbe;
  --md-ref-palette-secondary80: #b8c8da;
  --md-ref-palette-secondary90: #d4e4f6;
  --md-ref-palette-secondary95: #e7f2ff;
  --md-ref-palette-secondary98: #f7f9ff;
  --md-ref-palette-secondary99: #fcfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #221533;
  --md-ref-palette-tertiary20: #382a4a;
  --md-ref-palette-tertiary25: #433555;
  --md-ref-palette-tertiary30: #4f4061;
  --md-ref-palette-tertiary35: #5b4c6e;
  --md-ref-palette-tertiary40: #67587a;
  --md-ref-palette-tertiary50: #807094;
  --md-ref-palette-tertiary60: #9b8aaf;
  --md-ref-palette-tertiary70: #b6a4cb;
  --md-ref-palette-tertiary80: #d2bfe7;
  --md-ref-palette-tertiary90: #eddcff;
  --md-ref-palette-tertiary95: #f8edff;
  --md-ref-palette-tertiary98: #fff7ff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #00174d;
  --md-ref-palette-neutral20: #032978;
  --md-ref-palette-neutral25: #163584;
  --md-ref-palette-neutral30: #254290;
  --md-ref-palette-neutral35: #334e9c;
  --md-ref-palette-neutral40: #405aa9;
  --md-ref-palette-neutral50: #5973c4;
  --md-ref-palette-neutral60: #748de0;
  --md-ref-palette-neutral70: #8ea8fd;
  --md-ref-palette-neutral80: #b5c4ff;
  --md-ref-palette-neutral90: #dbe1ff;
  --md-ref-palette-neutral95: #eff0ff;
  --md-ref-palette-neutral98: #faf8ff;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #171c22;
  --md-ref-palette-neutral-variant20: #2b3137;
  --md-ref-palette-neutral-variant25: #363c42;
  --md-ref-palette-neutral-variant30: #42474e;
  --md-ref-palette-neutral-variant35: #4d5359;
  --md-ref-palette-neutral-variant40: #595f66;
  --md-ref-palette-neutral-variant50: #72787e;
  --md-ref-palette-neutral-variant60: #8c9198;
  --md-ref-palette-neutral-variant70: #a6acb3;
  --md-ref-palette-neutral-variant80: #c2c7ce;
  --md-ref-palette-neutral-variant90: #dee3eb;
  --md-ref-palette-neutral-variant95: #ecf1f9;
  --md-ref-palette-neutral-variant98: #f7f9ff;
  --md-ref-palette-neutral-variant99: #fcfcff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006398;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #cde5ff;
  --md-sys-color-on-primary-container-light: #001d32;
  --md-sys-color-secondary-light: #51606f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d4e4f6;
  --md-sys-color-on-secondary-container-light: #0d1d2a;
  --md-sys-color-tertiary-light: #67587a;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #eddcff;
  --md-sys-color-on-tertiary-container-light: #221533;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fefbff;
  --md-sys-color-on-background-light: #00174d;
  --md-sys-color-surface-light: #fefbff;
  --md-sys-color-on-surface-light: #00174d;
  --md-sys-color-surface-variant-light: #dee3eb;
  --md-sys-color-on-surface-variant-light: #42474e;
  --md-sys-color-outline-light: #72787e;
  --md-sys-color-inverse-on-surface-light: #eff0ff;
  --md-sys-color-inverse-surface-light: #032978;
  --md-sys-color-inverse-primary-light: #93ccff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006398;
  --md-sys-color-surface-tint-color-light: #006398;
  /* dark */
  --md-sys-color-primary-dark: #93ccff;
  --md-sys-color-on-primary-dark: #003351;
  --md-sys-color-primary-container-dark: #004b74;
  --md-sys-color-on-primary-container-dark: #cde5ff;
  --md-sys-color-secondary-dark: #b8c8da;
  --md-sys-color-on-secondary-dark: #23323f;
  --md-sys-color-secondary-container-dark: #394857;
  --md-sys-color-on-secondary-container-dark: #d4e4f6;
  --md-sys-color-tertiary-dark: #d2bfe7;
  --md-sys-color-on-tertiary-dark: #382a4a;
  --md-sys-color-tertiary-container-dark: #4f4061;
  --md-sys-color-on-tertiary-container-dark: #eddcff;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #00174d;
  --md-sys-color-on-background-dark: #dbe1ff;
  --md-sys-color-surface-dark: #00174d;
  --md-sys-color-on-surface-dark: #dbe1ff;
  --md-sys-color-surface-variant-dark: #42474e;
  --md-sys-color-on-surface-variant-dark: #c2c7ce;
  --md-sys-color-outline-dark: #8c9198;
  --md-sys-color-inverse-on-surface-dark: #00174d;
  --md-sys-color-inverse-surface-dark: #dbe1ff;
  --md-sys-color-inverse-primary-dark: #006398;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #93ccff;
  --md-sys-color-surface-tint-color-dark: #93ccff;
  /* Custom Colors */
  --md-custom-color-Prusian-Blue: #1C3041;
}
